{% extends 'base.html' %}

{% block menu %}<a class="nav-link" aria-current="page" href="{% url 'task_create_view' %}">Создать задачу</a>{% endblock %}

<body>
{% block content %}
    <h1>Мои задачи</h1>

    {% for task in tasks %}
        <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.name }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.status }}</h6>
                <p class="card-text">Types: {% for type in task.type.all %}
                    {{ type.type_name }}{% if forloop.last %}.{% else %},{% endif %}
                    {% endfor %}
                    </p>
                <a href={% url 'task_view' pk=task.pk %} class="card-link">Подробнее...</a>
                <a href={% url 'task_update_view' pk=task.pk %} class="card-link">Редактировать</a>
                <a href={% url 'task_delete_view' pk=task.pk %} class="card-link">Удалить</a>


            </div>
        </div>

    {% endfor %}

{% endblock %}
