<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1>Создать задачу</h1>

<form action="/tasks/add/" method="post">
    {% csrf_token %}

    <label>Название:</label><br/>
    <input type="text" name="task"/><br/>

    <label>Описание:</label><br/>
    <textarea name="description"></textarea><br/>

    <label>Статус:</label><br/>
    <select name="status" id="">
        {% for status_choice in status_choices %}
            <option value="{{ status_choice.0 }}">{{ status_choice.1 }}</option>
        {% endfor %}
    </select><br/>

    <label>Сделать до:</label><br/>
    <input type="text" name="deadline"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>

<a href={% url 'index' %}>На главную</a>
</body>
</html>