{% extends 'base.html' %}

{% block title %}Update task{% endblock %}
{% block menu %}<a class="nav-link" aria-current="page" href={% url 'index' %}>На главную</a>{% endblock %}


{% block content %}
<h1>Редактировать задачу</h1>

<form action="/tasks/add/" method="post">
    {% csrf_token %}

    <label>Название:</label><br/>
    <input type="text" name="task" value="{{ task.name }}"/><br/>

    <label>Описание:</label><br/>
    <textarea name="description">{{ task.description }}</textarea><br/>

    <label>Статус:</label><br/>
    <select name="status" id="">
        {% for status_choice in status_choices %}
            <option value="{{ status_choice.0 }}">{{ status_choice.1 }}</option>
        {% endfor %}
    </select><br/>

    <label>Сделать до:</label><br/>
    <input type="text" name="deadline"/><br/>
    <br/>
    <select name="type_id" id="">
        {% for type_task in types_task %}
            <option value="{{ type_task.id }}">{{ type_task.name }}</option>
        {% endfor %}
    </select>
    <br/>
    <input type="submit" value="Update"/>


</form>


{% endblock %}
