{% extends 'base.html' %}

{% block menu %}<a class="nav-link" aria-current="page" href="{% url 'project_add' %}">Создать проект</a>{% endblock %}

<body>
{% block content %}
    <h1>Мои проекты</h1>

    <div>
    {%  include 'partial/simple_search.html' %}
    </div>

    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {%  endif %}

<div class="row row-cols-3">

    {% for project in projects %}
        <div class="col">
        <div class="card my-3" >
            <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ project.project_description }}</h6>
{#                <p class="card-text">Types: {% for type in task.type.all %}#}
{#                    {{ type.type_name }}{% if forloop.last %}.{% else %},{% endif %}#}
{#                    {% endfor %}#}
{#                    </p>#}
                <a href={% url 'project_view' pk=project.pk %} class="card-link">Подробнее...</a>
                <a href={% url 'project_update_view' pk=project.pk %} class="card-link">Редактировать</a>
                <a href={% url 'project_delete_view' pk=project.pk %} class="card-link">Удалить</a>


            </div>
        </div>
        </div>

    {% endfor %}
</div>
{% endblock %}
